<div class="header">
  <h1>Bienvenue sur Mister Cocktail</h1>
</div>

<% @cocktails.each do |cocktail| %>
  <ul>
    <li>
      <%= link_to(cocktail) do %>
        <%= cocktail.name %>
      <% end %>
    </li>
  </ul>
<% end %>

<%= link_to 'Create a new Cocktail', new_cocktail_path, class: 'btn btn-primary'%>



